<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <img src="https://www.coderbox.me/images/github.png" class="kitty-icon navbar-left">
      <%= link_to "Home", root_path, class: "go-home navbar-left" %>
    </div>
  </div>
</nav>
