<%=render partial: 'dashboard/navbar' %>
<div class="container login">
  <div class="row">
    <div class="col-3">
      <button class="btn btn-default btn-lg"><%= link_to "Login With Github", "/auth/github" %></button>
    </div>
  </div>
</div>
