nav.navbar.navbar-default.navbar-fixed-top {
  background-color: #24292e;
  font-family: Helvetica, Arial, sans-serif;
  color: #e7e7e7;
  padding-top: 5px;
}

.navbar-left {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2em;
  color: #e7e7e7;
}

.navbar-header {
  padding-top: 5px;
  display:inline-block;
	float:none;
	margin:0 20px;
	vertical-align:middle;
}

.go-home {
  padding-bottom: 5px;
  padding-left: 10px;
}

img.kitty-icon {
  height: 30px;
  width: 30px;
  margin-left: 30px;
  margin-right: 10px;
}
